<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<form>
	<input type="text" id="title" name="title" class="form-control mt-4 mb-2"
		placeholder="제목을 입력해주세요." required>
    <input type="text" id="userId" name="user_id" class="form-control mt-4 mb-2"
        placeholder="유저 ID" required>
    <input type="text" id="editedAt" name="edited_at" class="form-control mt-4 mb-2">
	<div class="form-group">
		<textarea class="form-control" rows="10" id="contents" name="contents"
			placeholder="내용을 입력해주세요" required></textarea>
	</div>
	<button id="submitBtn" type="submit" class="btn btn-secondary mb-3">글쓰기</button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>
<script>
    $("document").attr("title", "<%=menuTitle%>");
    $("document").ready(function(){
        var boardId = "<%=boardId%>";
        if(parseInt(boardId) >= 0) {
            getOne({board_id: boardId});
        }
    });

    function getOne(param) {
        $.ajax({
            url: "/board/" + param.board_id,
            data: param,
            method: "GET",
            dataType: "json"
        })
        .done(function(json){
            var title = json.title;
            var userId = json.user_id;
            var userName = json.name;
            var contents = json.contents;
            var editedAt = json.edited_at;

            $("#title").val(title);
            $("#userId").val(userId);
            $("#editedAt").val(editedAt);
            $("#contents").val(contents);

            $("form").append($("<button>").attr("id", "updateBtn").addClass("btn btn-secondary mb-3").text("삭제하기"));
            $("#submitBtn").text("수정하기");
        });
    }

    function insertBoard(param) {
        $.ajax({
            url: "/board",
            data: param,
            method: "PUT",
            dataType: "json"
        })
        .done(function(json) {
            if(json == "success") {
                alert("삽입되었습니다.");
            } else {
                alert("오류가 발생하였습니다.");
            }
        });
    }

    function updateBoard(param) {
        $.ajax({
            url: "/board/" + param.board_id,
            data: param,
            method: "POST",
            dataType: "json"
        })
        .done(function(json) {
            if(json == "success") {
                alert("업데이트 되었습니다.")
            } else {
                alert("오류가 발생하였습니다.");
            }
        });
    }

    function deleteBoard(param) {
        $.ajax({
            url: "/board/" + param.board_id,
            data: param,
            method: "DELETE",
            dataType: "json"
        })
        .done(function(json){
            if(json == "success") {
                alert("삭제되었습니다.");
            } else {
                alert("오류가 발생하였습니다.");
            }
        })
    }
</script>