
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class="container">
<table class="table table-hover">
<thead>
    <tr>
        <th class="text-center">번호</th>
        <th class="text-center">제목</th>
        <th class="text-center">작성자</th>
        <th class="text-center">날짜</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
<hr />
<a href="#" class="btn btn-defaul pull-right">글쓰기</a>
<div class="text-center">
    <ul class="pagination justify-content-center">
    </ul>
    <input id="current-page" type="hidden" />
    <input id="page-start" type="hidden" />
    <input id="page-end" type="hidden" />
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>>
<script>
    $("document").ready(function(){
        getBoardList({current_page: "0", page_size: "5"});
    });

    function getBoardList(param) {
        $.ajax({
            url: "/board",
            data: param,
            method: "GET",
            dataType: "json"
        })
        .done(function(json) {
            $("tbody").empty();
            $(".pagination").empty();

            json["list"].forEach(function (data) {
                // $("<tr><td class='text-center'>" + data.board_id + "</td><td class='text-center'>" + data.title + "</td><td class='text-center'>" + data.name + "</td><td class='text-center'>" + data.edited_at + "</td>").appendTo("tbody");
                var row = $("<tr>").appendTo("tBody");
                $("<td>").addClass("text-center").text(data.board_id).appendTo(row);
                $("<td>").addClass("text-center").text(data.title).appendTo(row);
                $("<td>").addClass("text-center").text(data.name).appendTo(row);
                $("<td>").addClass("text-center").text(data.edited_at).appendTo(row);
            });

            var currentPage = parseInt(json["current_page"]) - 1;
            $("#current-page").empty().val(json["current_page"]);
            var pageStart = json["page_start"];
            $("#page-start").empty().val(pageStart);
            var pageEnd = json["page_end"];
            $("#page-end").empty().val(pageEnd);

            for(var idx = pageStart; idx <= pageEnd; idx++) {
                if(idx == pageStart) {
                    // $("<li class='page-item'><a class='page-link' href='#'>Previous</a></li>").appendTo(".pagination");
                    var pageItem = $("<li>").addClass("page-item").appendTo(".pagination");
                    $("<a>").addClass("page-link").prop("href", "#").text("Previous").appendTo(pageItem);
                }
                var pageNum = idx + 1;

                if(idx == currentPage) {
                    // $("<li class='page-item active'><a class='page-link' href='#'>" + pageNum + "</a></li>").appendTo(".pagination");
                    var pageItem = $("<li>").addClass("page-item").appendTo(".pagination");
                    $("<a>").addClass("page-link").addClass("active").prop("href", "#").text(pageNum).appendTo(pageItem);
                } else {
                    // $("<li class='page-item'><a class='page-link' href='#'>" + pageNum + "</a></li>").appendTo(".pagination");
                    var pageItem = $("<li>").addClass("page-item").appendTo(".pagination");
                    $("<a>").addClass("page-link").prop("href", "#").text(pageNum).appendTo(pageItem);
                }

                if(idx == pageEnd) {
                    // $("<li class='page-item'><a class='page-link' href='#'>Next</a></li>").appendTo(".pagination"); 
                    var pageItem = $("<li>").addClass("page-item").appendTo(".pagination");
                    $("<a>").addClass("page-link").prop("href", "#").text("Next").appendTo(pageItem);
                }
            }
        });
    }

    $(document).on("click", ".page-link", function(){
        var pageIndex = parseInt($(this).text()) - 1;
        var pageStart = $("#page-start").val();
        var pageEnd = $("#page-end").val();
        if(parseInt(pageIndex) >= 0) {
            if(parseInt(pageIndex) < parseInt(pageEnd)) {
                getBoardList({current_page:pageIndex, page_size: "5"});
            }
        }
    });

</script>